<div class="bg-cyan-700">
  <div class="max-w-4xl mx-auto text-center py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
    <p class="lg:text-2xl text-xl text-cyan-100">Ada dong! Ini Beda dengan Yang Lain, Sangat recommended!</p>

    <h2 class="lg:text-5xl text-3xl font-extrabold text-white mt-2">
      <span class="block">Sebuah Tool WhatsApp Marketing yang Punya Segudang Fitur...</span>
    </h2>
  </div>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="currentColor"
    class="lg:w-24 lg:h-24 w-16 h-16 text-red-500  bg-white rounded-full absolute mx-auto left-0 right-0 -m-10 shadow-md"
  >
    <path
      fill-rule="evenodd"
      d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-.53 14.03a.75.75 0 001.06 0l3-3a.75.75 0 10-1.06-1.06l-1.72 1.72V8.25a.75.75 0 00-1.5 0v5.69l-1.72-1.72a.75.75 0 00-1.06 1.06l3 3z"
      clip-rule="evenodd"
    />
  </svg>
</div>
