<!-- Fact Section -->
<div class="py-16 bg-white overflow-hidden lg:py-24">
    <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl">
      <svg class="hidden lg:block absolute right-full transform translate-x-1/2 translate-y-12" width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
        <defs>
          <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
      </svg>
  
      <div class="relative">
        <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
          <div class="lg:col-start-2 text-center lg:text-left">
            <span class="inline-flex items-center px-6 py-2 rounded-full text-xl font-normal bg-cyan-500 text-white mb-4" > Padahal Faktanya.. </span>
            <h3 class="text-3xl font-extrabold text-gray-900 tracking-tight lg:text-5xl">WhatsApp itu alat marketing paling efektif..</h3>
  
            <dl class="mt-6 space-y-10">
                <dl class="grid grid-cols-2 gap-x-12 gap-y-6">
                    <div class="pt-4">
                      <dt class="text-base font-medium text-gray-500">Number of User</dt>
                      <dd class="text-4xl font-extrabold tracking-tight text-gray-900">68+ juta</dd>
                      <p class="text-sm">Pengguna WA di Indonesia mencapai 68.8 juta jiwa. Ini target market super besar</p>
                    </div>
          
                    <div class="pt-4">
                      <dt class="text-base font-medium text-gray-500">User Growth</dt>
                      <dd class="text-4xl font-extrabold tracking-tight text-gray-900">88,7%</dd>
                      <p class="text-sm">User WhatsApp naik dari 87,7% pada 2021, menjadi 88,7% dari jumlah populasi Indonesia di tahun 2022</p>
                        </div>
          
                    <div class="pt-4">
                      <dt class="text-base font-medium text-gray-500">Open Rate</dt>
                      <dd class="text-4xl font-extrabold tracking-tight text-gray-900">99%</dd>
                      <p class="text-sm">Tingkat dibukanya pesan (openrate) WA sekitar 99%. Dibandingkan openrate email yang hanya 22%.</p>
                    </div>
          
                    <div class="pt-4">
                      <dt class="text-base font-medium text-gray-500">Conversion Rates</dt>
                      <dd class="text-4xl font-extrabold tracking-tight text-gray-900">60%</dd>
                      <p class="text-sm">Tingkat konversi (klik link) pada WA mencapai 60%. Dibanding konversi email yang hanya 2-5%</p>
    
                    </div>
                  </dl>
              </dl>
          </div>
  
          <div class="mt-10 -mx-4 relative lg:mt-0 lg:col-start-1">
            <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404" aria-hidden="true">
              <defs>
                <pattern id="e80155a9-dfde-425a-b5ea-1f6fadd20131" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                  <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
              </defs>
              <rect width="784" height="404" fill="url(#e80155a9-dfde-425a-b5ea-1f6fadd20131)" />
            </svg>
            <img class="relative mx-auto lg:w-full w-96 h-auto" src="/img/tokowa.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  