<!-- Fact Section -->
<div class="pt-10 bg-white overflow-hidden lg:pt-16">
  <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl">
    <svg class="hidden lg:block absolute right-full transform translate-x-1/2 translate-y-12" width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
      <defs>
        <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
        </pattern>
      </defs>
      <rect width="404" height="784" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)"></rect>
    </svg>

    <div class="relative">
      <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
        <div class="lg:col-start-2 text-center lg:text-left">
          <span class="inline-flex items-center px-6 py-2 rounded-full text-xl font-normal bg-cyan-500 text-white mb-4"> F.A.Q</span>
          <h3 class="text-3xl font-extrabold text-gray-900 tracking-tight lg:text-5xl mb-8">Pertanyaan yang Sering Diajukan</h3>

          <dl class="space-y-5 pb-24">
            <div>
              <dt class="text-lg leading-6 font-medium text-gray-900">Apa Sih Dripsender Ini?</dt>
              <dd class="mt-2 text-base text-gray-500">
                Dripsender merupakan tools Whatsapp marketing yang memiliki sejumlah fitur yang sangat dibutuhkan oleh pebisnis online yang menggunakan Whatsapp sebagai alat
                promosi atau proses marketing
              </dd>
            </div>
            <div>
              <dt class="text-lg leading-6 font-medium text-gray-900">Apakah Dripsender Perlu Diinstall di Komputer/Laptop??</dt>
              <dd class="mt-2 text-base text-gray-500">
                Tidak perlu. Dripsender berbasis web-based, yang artinya tidak memerlukan penginstalan komputer/laptop. Hanya membutuhkan browser dan juga internet untuk
                mengaksesnya​
              </dd>
            </div>
            <div>
              <dt class="text-lg leading-6 font-medium text-gray-900">Dripsender Menjamin No. Whatsapp dari Pemblokiran?​</dt>
              <dd class="mt-2 text-base text-gray-500">
                Dripsender diciptakan dengan berbagai fitur yang bisa meminimalisir pemblokiran no Whatsapp Tapi, perlu diketahui bahwa tidak ada tools Whatsapp manapun yang bisa
                menjamin bahwa no Whatsapp kita bebas dari pemblokiran, karena pemegang kendali pada setiap no Whatsapp adalah pihak Whatsapp sendiri
              </dd>
            </div>
            <div>
              <dt class="text-lg leading-6 font-medium text-gray-900">Apakah Ada Biaya Bulanan/Tahunan?</dt>
              <dd class="mt-2 text-base text-gray-500">
                Iya. Bisa bulanan atau tahunan, biaya perpanjangan ini untuk menjamin agar layanan Dripsender bisa terus dinikmati dan update jika diperlukan
              </dd>
            </div>
            <div>
              <dt class="text-lg leading-6 font-medium text-gray-900">Apakah Bisa Dibantu / Diajari Menggunakan Dripsender?</dt>
              <dd class="mt-2 text-base text-gray-500">Tentu saja, selain ada video tutorial, pengguna Dripsender juga ada grup Whatsapp</dd>
            </div>
          </dl>
        </div>

        <div class="mt-10 -mx-4 relative lg:mt-0 lg:col-start-1">
          <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404" aria-hidden="true">
            <defs>
              <pattern id="e80155a9-dfde-425a-b5ea-1f6fadd20131" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
              </pattern>
            </defs>
            <rect width="784" height="404" fill="url(#e80155a9-dfde-425a-b5ea-1f6fadd20131)"></rect>
          </svg>
          <img class="absolute mx-auto lg:w-2/3 w-96 h-auto top-0" src="/img/faq.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
