<!-- This example requires Tailwind CSS v2.0+ -->
<div class="pt-12 lg:-pt-24 bg-white">
  <div class="max-w-6xl mx-auto px-3 lg:px-8">
    <div class="text-center">
      <p class="lg:text-2xl text-md font-normal tracking-tight max-w-4xl mx-auto text-gray-900 text-center px-4 py-2 rounded-full bg-cyan-200 inline">
        Oke, Mungkin Anda Sudah Mencoba Mengatasinya
      </p>
      <p class="mt-4 lg:text-5xl text-3xl font-extrabold tracking-tight max-w-4xl mx-auto text-gray-900 text-center">
        Menggunakan Tools WA Marketing, Tapi Masalahnya...
      </p>
    </div>
    <div class="relative my-8">
      <div class="absolute inset-0 flex items-center" aria-hidden="true"><div class="w-full border-t border-gray-300" /></div>
      <div class="relative flex justify-center">
        <span class="bg-white px-2 text-gray-500">
          <svg class="h-3 w-3 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path
              fill="#6B7280"
              fill-rule="evenodd"
              d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
              clip-rule="evenodd"
            />
          </svg></span
        >
      </div>
    </div>

    <!-- Problem List -->

    <div class="mt-10 space-y-5 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
      <div class="col-span-1 flex rounded-md">
        <div class="flex-shrink-0 flex items-center justify-center w-16 bg-red-500 text-white text-sm font-medium rounded-l-md  px-3 py-2">
          <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.182 16.318A4.486 4.486 0 0012.016 15a4.486 4.486 0 00-3.198 1.318M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z"
            />
          </svg>
        </div>
        <div class="flex-1 flex items-center justify-between bg-red-50 rounded-r-md">
          <div class="flex-1 px-4 py-2 flex-wrap">
            <p class="lg:text-xl text-lg font-medium">Cuma bisa grabbing kontak grup dan broadcast standar saja</p>
          </div>
        </div>
      </div>

      <div class="col-span-1 flex rounded-md">
        <div class="flex-shrink-0 flex items-center justify-center w-16 bg-red-500 text-white text-sm font-medium rounded-l-md  px-3 py-2">
          <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.182 16.318A4.486 4.486 0 0012.016 15a4.486 4.486 0 00-3.198 1.318M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z"
            />
          </svg>
        </div>
        <div class="flex-1 flex items-center justify-between bg-red-50 rounded-r-md">
          <div class="flex-1 px-4 py-2 flex-wrap">
            <p class="lg:text-xl text-lg font-medium">Kalau broadcast cuma bisa kirim teks dan gambar doang</p>
          </div>
        </div>
      </div>

      <div class="col-span-1 flex rounded-md">
        <div class="flex-shrink-0 flex items-center justify-center w-16 bg-red-500 text-white text-sm font-medium rounded-l-md  px-3 py-2">
          <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.182 16.318A4.486 4.486 0 0012.016 15a4.486 4.486 0 00-3.198 1.318M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z"
            />
          </svg>
        </div>
        <div class="flex-1 flex items-center justify-between bg-red-50 rounded-r-md">
          <div class="flex-1 px-4 py-2 flex-wrap">
            <p class="lg:text-xl text-lg font-medium">Ribet harus install di laptop, tidak bisa diakses via Mobile</p>
          </div>
        </div>
      </div>

      <div class="col-span-1 flex rounded-md">
        <div class="flex-shrink-0 flex items-center justify-center w-16 bg-red-500 text-white text-sm font-medium rounded-l-md  px-3 py-2">
          <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.182 16.318A4.486 4.486 0 0012.016 15a4.486 4.486 0 00-3.198 1.318M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z"
            />
          </svg>
        </div>
        <div class="flex-1 flex items-center justify-between bg-red-50 rounded-r-md">
          <div class="flex-1 px-4 py-2 flex-wrap">
            <p class="lg:text-xl text-lg font-medium">Tidak ada fitur chatbot atau balas pesan otomatis</p>
          </div>
        </div>
      </div>

      <div class="col-span-1 flex rounded-md">
        <div class="flex-shrink-0 flex items-center justify-center w-16 bg-red-500 text-white text-sm font-medium rounded-l-md  px-3 py-2">
          <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.182 16.318A4.486 4.486 0 0012.016 15a4.486 4.486 0 00-3.198 1.318M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z"
            />
          </svg>
        </div>
        <div class="flex-1 flex items-center justify-between bg-red-50 rounded-r-md">
          <div class="flex-1 px-4 py-2 flex-wrap">
            <p class="lg:text-xl text-lg font-medium">Tidak bisa digunakan untuk follow up customer otomatis</p>
          </div>
        </div>
      </div>

      <div class="col-span-1 flex rounded-md">
        <div class="flex-shrink-0 flex items-center justify-center w-16 bg-red-500 text-white text-sm font-medium rounded-l-md  px-3 py-2">
          <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.182 16.318A4.486 4.486 0 0012.016 15a4.486 4.486 0 00-3.198 1.318M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z"
            />
          </svg>
        </div>
        <div class="flex-1 flex items-center justify-between bg-red-50 rounded-r-md">
          <div class="flex-1 px-4 py-2 flex-wrap">
            <p class="lg:text-xl text-lg font-medium">Tidak ada fitur broadcast terjadwal, setiap broadcast harus hidupin laptop</p>
          </div>
        </div>
      </div>
    </div>

    <div class="relative my-8">
      <div class="absolute inset-0 flex items-center" aria-hidden="true"><div class="w-full border-t border-gray-300" /></div>
      <div class="relative flex justify-center">
        <span class="bg-white px-2 text-gray-500">
          <svg class="h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path
              fill="#6B7280"
              fill-rule="evenodd"
              d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
              clip-rule="evenodd"
            />
          </svg></span
        >
      </div>
    </div>
  </div>

  <div class="col-span-1 text-center pt-3 px-3">
    <p class="mt-4 lg:text-3xl text-2xl font-extrabold tracking-tight max-w-3xl mx-auto text-gray-900 text-center">Lha Terus Gimana Dong?</p>
    <p class="mt-2 lg:text-4xl text-3xl font-extrabold tracking-tight max-w-3xl mx-auto text-cyan-500 text-center">
      Ada Nggak Sih Tool WhatsApp yang Fiturnya Lengkap?
    </p>

    <img class="relative mx-auto items-center" src="/src/img/bertakon.png" alt="" />
  </div>
</div>
