---
import Layout from "../layouts/main.astro"
import Testimoni from "../widget/Testimoni.svelte";
---
<Layout class="bg-slate-50">
<div class="py-24 mx-auto max-w-6xl px-6 lg:px-3">
  <div class="text-center">
      <p class="lg:text-2xl text-md font-normal tracking-tight max-w-4xl mx-auto text-gray-900 text-center px-4 py-2 rounded-full bg-cyan-200 inline">
        Apa Kata Mereka?
      </p>
      <p class="mt-4 lg:text-5xl text-3xl font-extrabold tracking-tight max-w-4xl mx-auto text-gray-900 text-center">
        Review Dari Para Pengguna Dripsender
      </p>
    
  
    <div class="grid md:grid-cols-3 gap-4 my-6">
        <div class="grid gap-4">
            <div>
                <Testimoni client:visible  src="/img/testimoni/testi1.jpg" alt="" />
            </div>
            <div>
                <Testimoni client:visible  src="/img/testimoni/testi2.jpg" alt="" />
            </div>
            <div>
                <Testimoni client:visible  src="/img/testimoni/testi3.jpg" alt="" />
             </div>
             <div>
                <Testimoni client:visible src="/img/testimoni/testi4.jpg"  alt="" />
            </div>
            <div>
                <Testimoni client:visible src="/img/testimoni/testi5.jpg"  alt="" />
            </div>
            <div>
                <Testimoni client:visible src="/img/testimoni/testi6.jpg"  alt="" />
            </div>
        </div>

        <div class="grid gap-4">
            <div>
                <Testimoni client:visible src="/img/testimoni/testi7.jpg"  alt="" />
            </div>
            <div>
                <Testimoni client:visible src="/img/testimoni/testi8.jpg"  alt="" />
            </div>
            <div>
                <Testimoni client:visible  src="/img/testimoni/testi9.jpg"  alt="" />
            </div>
            <div>
                <Testimoni client:visible src="/img/testimoni/testi10.jpg"  alt="" />
            </div>
            <div>
                <Testimoni client:visible src="/img/testimoni/testi11.jpg"  alt="" />
            </div>
            <div>
                <Testimoni client:visible  src="/img/testimoni/testi12.jpg"  alt="" />
            </div>
        </div>
        
        <div class="grid gap-4">
            <div>
                <Testimoni client:visible src="/img/testimoni/testi13.jpg"  alt="" />
            </div>
            <div>
                <Testimoni client:visible src="/img/testimoni/testi14.jpg"  alt="" />
            </div>
            <div>
                <Testimoni client:visible  src="/img/testimoni/testi15.jpg"  alt="" />
            </div>
            <div>
                <Testimoni client:visible src="/img/testimoni/testi16.jpg"  alt="" />
            </div>
            <div>
                <Testimoni client:visible src="/img/testimoni/testi17.jpg"  alt="" />
            </div>
            <div>
                <Testimoni client:visible  src="/img/testimoni/testi18.jpg"  alt="" />
            </div>
        </div> 
    </div>  
</div>
  </div>
</Layout>